{% extends "layout.html" %}
{% from "macros/paginate.html" import paginate %}
{% from "macros/table.html" import table, card_table %}
{% from "macros/button.html" import button, button_blank %}

{% block header %}
    <h1 class="text-2xl font-bold p-4 text-center">Moderacion de reseñas</h1>
{% endblock %}

{% block content %}

<!-- Buscador por correo -->
<form method="get" action="/reviews" class="mb-4 flex justify-center">
    <input 
        type="text" 
        name="search_email" 
        placeholder="Buscar por correo o texto" 
        value="{{ request.args.get('search_email', '') }}"
        class="border px-3 py-2 rounded w-1/3"
    />
    <button type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
        Buscar
    </button>
</form>

<!-- Contenedor filtro y ordenamiento -->
<div class="bg-white shadow rounded p-4 flex flex-wrap flex-row items-end md:justify-center lg:justify-between gap-4" aria-label="filtros y ordenamientos">

    <!-- Contenedor ordenamiento -->
    <section>
        <h3 class="text-lg font-semibold mb-2">Ordenar Reseñas</h3>
        <ul class="space-y-2">
            <li>
                <a href="{{ url_for('reviews.index', sorted_by='desc', order_by='created_at') }}"
                   class="block px-3 py-2 rounded text-center
                          {% if order_by == 'created_at' and sorted_by == 'desc' %}
                            bg-green-300 font-semibold
                          {% else %}
                            bg-green-100 hover:bg-green-200
                          {% endif %}">
                    Más recientes
                </a>
            </li>
            <li>
                <a href="{{ url_for('reviews.index', sorted_by='asc', order_by='created_at') }}"
                   class="block px-3 py-2 rounded text-center
                          {% if order_by == 'created_at' and sorted_by == 'asc' %}
                            bg-green-300 font-semibold
                          {% else %}
                            bg-green-100 hover:bg-green-200
                          {% endif %}">
                    Más antiguos
                </a>
            </li>
        </ul>
    </section>

    <!-- Contenedor filtros -->
    <form method="get" action="/reviews" class="flex flex-wrap items-end gap-4" aria-label="Filtros">
        <!-- Estado -->
        <fieldset>
            <legend class="block text-sm font-medium text-gray-700">Estado</legend>
            <select name="status" class="border px-3 py-2 rounded">
                <option value="">Todos</option>
                <option value="pending" {% if request.args.get('status') == 'pending' %}selected{% endif %}>Pendiente</option>
                <option value="approved" {% if request.args.get('status') == 'approved' %}selected{% endif %}>Aprobado</option>
                <option value="rejected" {% if request.args.get('status') == 'rejected' %}selected{% endif %}>Rechazado</option> 
            </select>
        </fieldset>

        <!-- Sitios -->
        <fieldset>
            <legend class="block text-sm font-medium text-gray-700">Sitios</legend>
            <select name="site_id" class="border px-3 py-2 rounded">
                <option value="">Todos</option>
                {% for site in sites %}
                <option value="{{ site.id }}" {% if request.args.get('site_id') == site.id|string %}selected{% endif %}>
                    {{ site.name }}
                </option>
                {% endfor %}
            </select>
        </fieldset>

        <!-- Calificación -->
        <fieldset>
            <input type="number" name="rating_min" min="1" max="5" placeholder="Mín"
                    oninput="if (parseInt(this.value) > parseInt(this.form.rating_max.value)) this.form.rating_max.value = this.value;"
                    class="border px-2 py-1 rounded w-16">
            <input type="number" name="rating_max" min="1" max="5" placeholder="Máx"
                    oninput="if (parseInt(this.value) < parseInt(this.form.rating_min.value)) this.form.rating_min.value = this.value;"
                    class="border px-2 py-1 rounded w-16">
        </fieldset>

        <!-- Fecha -->
        <fieldset>
            <legend class="block text-sm font-medium text-gray-700">Fecha</legend>
            <div class="flex gap-2">
                <input type="date" 
                    id="date_from"
                    name="date_from" 
                    value="{{ request.args.get('date_from', '') }}"
                    class="border px-2 py-1 rounded">
                <input type="date" 
                    id="date_to"
                    name="date_to"
                    value="{{ request.args.get('date_to', '') }}"
                    class="border px-2 py-1 rounded">
            </div>
        </fieldset>

        <!-- Botones -->
        <div class="flex space-x-2">
            {{ button('Aplicar filtros', type='submit', icon_left_svg='<i class="fa-solid fa-filter mr-1"></i>') }}
            {{ button_blank('Quitar filtros', link=url_for('reviews.index'), icon_left_svg='<i class="fa-solid fa-rotate-left mr-1"></i>') }}
        </div>
    </form>
</div>

<!-- Contenedor general -->
<div class="px-6 mx-auto space-y-6">
   <!-- Contenedor tabla de usuarios -->
    <div class="bg-white shadow rounded overflow-x-auto">
        {{ table(
            data=pagination,
            columns=columns,
            edit_route=None,
            reject_route="reviews.reject",
            delete_route="reviews.delete",
            approve_route="reviews.approve",
            detail_route="reviews.detail",
            restore_route=None,
            id_param="review_id",
            empty_message="No hay reviews cargadas"
        ) }}

        {{ card_table(
            data=pagination,
            columns=columns,
            edit_route=None,
            reject_route="reviews.reject",
            delete_route="reviews.delete",
            approve_route="reviews.approve",
            detail_route="reviews.detail",
            restore_route=None,
            id_param="review_id",
            empty_message="No hay reviews cargadas"
        ) }}
    </div>

    <!-- Contenedor paginacion -->
    <div class="flex justify-center mt-4">
        {{ paginate(pagination,"reviews.index") }}
    </div>
</div>
<!-- Scrips -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    // --- Validación de fechas ---
    const dateFrom = document.getElementById("date_from");
    const dateTo = document.getElementById("date_to");

    if (dateFrom && dateTo) {
        dateFrom.addEventListener("change", () => {
            dateTo.min = dateFrom.value;
            if (dateTo.value && dateTo.value < dateFrom.value) {
                dateTo.value = dateFrom.value;
            }
        });
    }
});
</script>

{% endblock %}
