{% extends "layout.html" %}

{% block title %}Error {{ error.errorcode }} - Página Grupo09{% endblock %}

{% block content %}
<div class="flex min-h-screen flex-col items-center justify-center text-center px-4">
    <div class="shadow-md p-3 rounded-lg bg-gray-50 dark:bg-gray-800 py-5">
        <div class="absolute inset-0 flex items-center justify-center text-[300px] lg:text-[400px] opacity-10 select-none -z-1 pointer-events-none">
            {% if error.code == 404 %}
                <span>🔍️</span>
                <span class="sr-only">Buscando...</span>
            {% elif error.code == 401 %}
                <span>🔒</span>
                <span class="sr-only">Sin Autorizacion</span>
            {% elif error.code == 500 %}
                <span>⚠️</span>
                <span class="sr-only">Cuidado</span>
            {% else %}
                <span>❌</span>
                <span class="sr-only">Error</span>
            {% endif %}
        </div>

        
        <h1 class="text-9xl font-bold">{{ error.code }}</h1>
        <h2 class="text-xl">{{ error.message }}</h2>

        <div class="mt-4 max-w-xl">
            <h3 class="text-lg">¿Necesitas ayuda?</h3>
            <p class="mb-2">{{ error.description }}</p>
            <p>
                {% if error.code == 404 %}
                    Verifica que la URL esté escrita correctamente o usa la navegación principal.
                {% elif error.code == 401 %}
                    Asegúrate de tener los permisos necesarios para acceder a este recurso.
                {% elif error.code == 500 %}
                    Si el problema persiste, contacta al administrador del sistema.
                {% endif %}
            </p>

            <div class="flex flex-row justify-center gap-4 mt-4">
                <a href="{{ url_for('home') }}" class="underline hover:cursor-pointer hover:text-blue-600">Volver al Inicio</a>
                {% if error.code == 404 %}
                    <button onclick="history.back()" class="underline hover:cursor-pointer hover:text-blue-600 bg-transparent border-none">Página Anterior</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}