{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        <h2>Pagina Principal</h2>
        <p>Esta es la pagina principal de la <strong>Actividad 2</strong>. En esta actividad se realiza una estructura basica para el <strong>Trabajo integrador</strong></p>
        <p>Para esta actividad, se utiliza <strong>Flask</strong> como framework web y <strong>Jinja2</strong> como motor de plantillas para un estilo basico.</p>

    </div>
{% endblock %}