<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    {% block head %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@4.0.1/dist/css/multi-select-tag.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js" integrity="sha512-6BTOlkauINO65nLhXhthZMtepgJSghyimIalb+crKRPhvhmsCdnIuGcVbR5/aQY2A+260iC1OPy1oCdB6pSSwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>{% block title %}Panel de administración - Histori.ar{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="Histori.ar" />
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}" />
</head>

<body class="flex flex-col min-h-screen w-full bg-gray-50 text-proyecto-text">

    {% from 'macros/toast.html' import toast %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="absolute top-4 right-4 space-y-4 z-50">
                {% for category, message in messages %}
                    {{toast(message=message, type=category, name="toast-" + loop.index0|string)}}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% include 'components/navbar.html' %}

    <div class="flex flex-row flex-1 overflow-hidden">
        <div class="flex-shrink-0">
            {% include 'components/sidebar.html' %}
        </div>

        <div class="flex-1 flex flex-col overflow-hidden">
            <header class="text-center flex-shrink-0">
                {% block header %}{% endblock %}
            </header>

            <main class="flex-1 overflow-y-auto overflow-x-hidden">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <footer class="bg-proyecto-primary text-white text-center p-6">
        <h3> Proyecto de software - Grupo 09</h3>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@4.0.1/dist/js/multi-select-tag.min.js"></script>

</body>
</html>
