{% extends "layout.html" %}
{% from "macros/button.html" import button %}
{% from "macros/flag_card.html" import feature_flag_card %}
{% from "macros/toast.html" import toast %}
{% block title %}Feature Flags{% endblock %}

{% block header %}
    <div class="text-center mb-4 mt-2">
        <h1 class="text-5xl font-bold p-4">Feature Flags</h1>
        <p class="text-xl">Aqui puedes administrar todas las Flags presentes en el sistema.</p>
    </div>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center">
        {% for flag in flags %}
            {{ feature_flag_card(
                name=flag.name,
                description=flag.description,
                is_enable=flag.is_enabled,
                last_edited_user=flag.last_modified_by.get_full_name() if flag.last_modified_by else "-",
                last_edited_date=flag.last_modified_at.strftime("%d/%m/%Y %H:%M") if flag.last_modified_at else "-",
                show_input_text=(flag.name in ["admin_maintenance_mode", "portal_maintenance_mode"]),
                id=flag.id,
                form=form
            ) }}
        {% endfor %}
    </div>
{% endblock %}
