{% from 'macros/button.html' import button_success, button_error %}
{% from 'macros/input.html' import text_input %}
{% import 'macros/toast.html' as toast %}

{% macro feature_flag_card(name="", description="", is_enable=False, last_edited_user="", last_edited_date="", show_input_text=False, id="", form=None) %}
    <div class="max-w-lg w-full p-6 mx-4 my-2 bg-proyecto-bg border border-gray-200 rounded-lg shadow-sm text-center flex flex-col items-center shadow-xl">
        <div>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ name|replace("_", " ")|title }}</h5>
            {% if is_enable %}
                <span class="bg-green-100 text-green-800 px-2 py-1 rounded">ON</span>
            {% else %}
                <span class="bg-red-100 text-red-800 px-2 py-1 rounded">OFF</span>
            {% endif %}
        </div>
        <div class="h-64 w-64 text-proyecto-text my-6">
            {% if name == 'admin_maintenance_mode' %}
                <i class="fa-solid fa-wrench w-full h-full"></i>
            {% elif name == 'portal_maintenance_mode' %}
                <i class="fa-solid fa-building-circle-xmark w-full h-full"></i>
            {% else %}
                <i class="fa-solid fa-star-half-stroke w-full h-full"></i>
            {% endif %}
            </svg>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ description }}</p>
            <form method="POST" action="{{ url_for('feature-flags.toggle', flag_id=id) }}" class="flex flex-row items-center w-full mb-4 justify-center">
                {{ form.hidden_tag() }}
                {{ form.flag_id(value=id) }}

                {% if (name in ['admin_maintenance_mode', 'portal_maintenance_mode']) and not is_enable %}
                    {{ form.message(class="mr-4 w-64 rounded-lg border border-gray-300", placeholder="Mensaje de mantenimiento") }}
                    {% for error in form.message.errors %}
                        <span class="text-red-500 text-sm ml-2">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                {% if is_enable %}
                    {{ button_error(text="Desactivar", type="submit") }}
                {% else %}
                    {{ button_success(text="Activar", type="submit") }}
                {% endif %}
            </form>
        <p class="mb-3 text-sm text-gray-500 dark:text-gray-400">Última edición: {{ last_edited_date }} por: {{ last_edited_user }}</p>
    </div>
{% endmacro %}