{% macro form_site(lon=None, lat=None, site_name=None, form=None, lat_view=-34.9205, lon_view=-57.9536, site = None) %}
<div class="max-w-2xl mx-auto mt-6 space-y-6">

 <!-- Boton para volver a users -->
    <div class="flex justify-between items-center">
        <a href="/sites"
            class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow">
            ← Volver
        </a>
        {% if site %}
            <a href="{{ url_for('site_history.view_site_history', site_id=site.id, next=request.path) }}"
            class="inline-block bg-blue-500 hover:bg-blue-700  text-white font-semibold py-2 px-4 rounded shadow">
            Historial de cambios
            </a>
        {% endif %}
    </div>
    <div class="p-6 bg-white w-160 shadow-lg rounded-lg border border-gray-200">
        <form method="POST" class="space-y-5 flex gap-3 flex-col ">
            {{ form.hidden_tag() }}
            <div class="flex gap-6 justify-center">
                <div>
                    <div>
                        {{ form.name.label(class="block font-medium text-gray-700 mb-1") }}
                        {{ form.name(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200")}}
                        
                        {% for error in form.name.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{ form.province.label(class="block font-medium text-gray-700 mb-1") }}
                        <select id="{{ form.province.id }}" name="{{ form.province.name }}" required
                                class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200">
                            {% if not site %}
                                <option value="" selected hidden>Seleccionar provincia</option>
                            {% endif %}
                            {% for value, label in form.province.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        {% for error in form.province.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{ form.city.label(class="block font-medium text-gray-700 mb-1") }}
                        {{ form.city(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200") }}
                        {% for error in form.city.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    
                    <div>
                        {{ form.conservation_state.label(class="block font-medium text-gray-700 mb-1") }}
                        <select id="{{ form.conservation_state.id }}" name="{{ form.conservation_state.name }}" required
                                class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200">
                            {% if not site %}
                                <option value="" selected hidden>Seleccionar estado de conservación</option>
                            {% endif %}
                            {% for value, label in form.conservation_state.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        {% for error in form.province.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% if is_validated_site(site=site) %}
                        <div>
                            {{ form.is_visible.label(class="block font-medium text-gray-700 mb-1") }}
                            {{ form.is_visible(class=" mb-4 flex items-center space-x-2") }}
                            {% for error in form.is_visible.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div>

                    <div>
                        {{ form.category.label(class="block font-medium text-gray-700 mb-1") }}
                        <select id="{{ form.category.id }}" name="{{ form.category.name }}" required
                                class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200">
                            {% if not site %}
                                <option value="" selected hidden>Seleccionar categoría</option>
                            {% endif %}
                            {% for value, label in form.category.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        {% for error in form.province.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    
                    <div>
                        {{ form.inauguration_year.label(class="block font-medium text-gray-700 mb-1") }}
                        {{ form.inauguration_year(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200") }}
                        {% for error in form.inauguration_year.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{ form.brief_description.label(class="block font-medium text-gray-700 mb-1") }}
                        {{ form.brief_description(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200") }}
                        {% for error in form.brief_description.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    
                    <div>
                        {{ form.full_description.label(class="block font-medium text-gray-700 mb-1") }}
                        {{ form.full_description(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200") }}
                        {% for error in form.full_description.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{form.longitude(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200 hidden")}}
                        {% for error in form.longitude.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{form.latitude(class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200 hidden")}}
                        {% for error in form.latitude.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                {{form.tags.label(class="block font-medium text-gray-700 mb-1")}}
                {{form.tags(class="w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200", size=1)}}
                {% for error in form.tags.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="w-md ">
                {{ form.submit(class="w-full bg-blue-600 text-white py-2 rounded font-semibold hover:bg-blue-700 shadow" ) }}
            </div>
        </form>
    </div>
</div>

<div class="flex items-center justify-center flex-col mt-2 gap-2 " style=" height: 70vh; max-width: 900px; width: 70%;"> 
    <h3 class="block font-semibold text-gray-700 mb-1">Seleccione la ubicación en el mapa!</h3>
    <div id="map">

    </div>
</div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {


        new MultiSelectTag('tags', {
        rounded: true,   
        shadow: true,
        placeholder: "Seleccionar tags",
        onChange: function(selected) {
            console.log("Seleccionados:", selected);
        }
        });

        document.getElementById("tag-input").className = "w-full"
        
        lonInput = document.getElementById("longitude")
        latIpunt = document.getElementById("latitude")
        var map = L.map('map').setView(["{{lat_view}}", "{{lon_view}}"], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        }).addTo(map);
        var mark            

        if ("{{lat}}" != "None" && typeof "{{lon}}" != "None" && "{{site_name}}") {
            mark = L.marker(["{{lat}}", "{{lon}}"]).addTo(map)
                .bindPopup(`{{site_name}}  <br> Latitud: ${parseFloat("{{lat}}").toFixed(4)} <br> Longitud: ${parseFloat("{{lon}}").toFixed(4)}`)
                .openPopup();
        }

        var lat_lng_popup = L.popup();

        function latLngPop(e) {
            if(mark)
                mark.remove();
            lat_lng_popup
                .setLatLng(e.latlng)
                .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                            "<br>Longitude: " + e.latlng.lng.toFixed(4))
                .openOn(map);
            lonInput.value = e.latlng.lng
            latIpunt.value = e.latlng.lat  
        }

        map.on('click', latLngPop);

        //Obtener la ciudades de la prov seleccionada
        document.getElementById("province").addEventListener("change", function() {
            const provinceId = this.value;
            fetch(`/cities/${provinceId}`)
                .then(response => response.json())
                .then(data => {
                    const citySelect = document.getElementById("city");
                    citySelect.innerHTML = "";
                    data.forEach(city => {
                        let option = document.createElement("option");
                        option.value = city.id;
                        option.text = city.name;
                        citySelect.appendChild(option);
                    });
                })
        });
    });
      
</script>
{% endmacro %}
