{% from 'macros/button.html' import button %}

{% macro render_table(data, columns=None, title="", empty_message="No hay datos para mostrar.", button_link="") %}
    <div class="relative overflow-x-auto">
        {# Titulo (Puede no tener) #}
        {% if title %}
          <h2 class="text-lg font-semibold mb-3 text-gray-900 dark:text-gray-100">{{ title }}</h2>
        {% endif %}

        {# Datos (Si no tiene puede tener un mensaje vacio #}
        {% if data %}
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                {% if columns %}
                  {% for col in columns %}
                    <th scope="col" class="px-6 py-3">{{ col.label }}</th>
                  {% endfor %}
                {% else %}
                  {# Si no se pasa `columns`, usar las claves del primer item si es un diccionario #}
                  {% if data[0] is mapping %}
                    {% for key in data[0].keys() %}
                      <th scope="col" class="px-6 py-3">{{ key | title }}</th>
                    {% endfor %}
                  {% endif %}
                {% endif %}
                <th scope="col" class="px-6 py-3"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  {% if columns %}
                    {% for col in columns %}
                      {% set value = item[col.key] if item is mapping else getattr(item, col.key, '') %}
                      <td class="px-6 py-4">{{ value }}</td>
                    {% endfor %}
                      <td>
                        {{ button("Ver Detalles",
                        icon_left_svg='<svg class="w-6 h-6 text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                        </svg>
                    ', link="url_for(button_link, id=item.id)", type="button") }}
                      {# Descomentar el url_for() para utilizar ids #}
                      </td>
                  {% else %}
                    {% if item is mapping %}
                      {% for value in item.values() %}
                        <td class="px-6 py-4">{{ value }}</td>
                      {% endfor %}
                        <td>
                        {{ button("Ver Detalles",
                        icon_left_svg='<svg class="w-6 h-6 text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                        </svg>
                    ', link="url_for(button_link, id=item.id)", type="button") }}
                        {# Descomentar el url_for() para utilizar ids #}
                      </td>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="text-gray-500 dark:text-gray-400">{{ empty_message }}</p>
        {% endif %}
    </div>
{% endmacro %}
