{% extends "layout.html" %}
{% from "macros/toast.html" import toast %}
{% from "macros/form_site.html" import form_site %}

{% block title %}Editar Sitio{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<style>
    #map { height: 60vh;
            max-width: 800px;
            width: 100%; 
            border-radius: 6px;
            border: 1px solid #c0bfbf;
        }
</style>
{% endblock %}

{% block header %}
<h1 class="text-2xl font-bold text-center mt-6">Editar Sitio Historico</h1>
{% endblock %}

{% block content %}
<div class="flex items-center flex-col">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mb-4">
                {% for category, message in messages %}
                    {{toast(message=message, type=category)}}
                {% endfor %}
            </div>
        {% endif %}
{% endwith %}

{{ form_site(lon=lon, lat=lat, lon_view=lon, lat_view=lat, site_name=site_name, site=site, form=form) }}
</div>
{% endblock %}
