# Entorno de desarrollo
FLASK_ENV=development

# Base de datos
DATABASE_URL=COMPLETAR

# Clave secreta
SECRET_KEY=COMPLETAR

# Activar debugging
DEBUG=False

# Configuración de sesión
SESSION_TYPE=filesystem