{% extends "layout.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block header %}
<h1 class="text-2xl font-bold text-center mt-6">Cambiar contraseña de {{ user.first_name }} {{ user.last_name }}</h1>
{% endblock %}
{% block content %}
<div class="p-4 max-w-md mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }}
        <!-- Contraseña vieja -->
        <fieldset class="mb-4">
            {{ form.old_password.label(class="block font-semibold mb-1") }}
            {{ form.old_password(class="w-full border rounded p-2", placeholder="Ingrese su contraseña actual") }}
            {% for error in form.old_password.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
        </fieldset>
        <!-- Contraseña nueva -->
        <fieldset class="mb-4">
            {{ form.new_password.label(class="block font-semibold mb-1") }}
            {{ form.new_password(class="w-full border rounded p-2", placeholder="Ingrese la nueva contraseña") }}
            {% for error in form.new_password.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
        </fieldset>
        <!-- Repetir contraseña -->
        <fieldset class="mb-4">
            {{ form.confirm_password.label(class="block font-semibold mb-1") }}
            {{ form.confirm_password(class="w-full border rounded p-2", placeholder="Repita la nueva contraseña") }}
            {% for error in form.confirm_password.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
            <p class="text-red-600 text-sm" id="alert_confirm"></p>
        </fieldset>
        <!-- Contenedor de acciones cambiar y cancelar  -->
        <section class="mt-6" aria-label="Seccion de acciones de usuario">
            {{ form.submit(class="text-white bg-proyecto-primary hover:bg-blue-800 focus:ring-4
             focus:ring-proyecto-primary/20 font-semibold rounded-lg text-sm px-3 py-2 sm:px-5 
             sm:py-2.5 text-center inline-flex items-center {{ class }}") }}
            <a href="{{ url_for('main_bp.home') }}" 
               class="ml-2 text-gray-600 hover:underline">Cancelar</a>
        </section>
    </form>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const new_password = document.getElementById("new_password");
  const confirm_password = document.getElementById("confirm_password");
  const alert = document.getElementById("alert_confirm")
  function updateValue(e) {
    if(new_password.value != confirm_password.value)  
        alert.textContent = "Las contraseñas no coinciden";
    else
        alert.textContent = "";
    }
  confirm_password.addEventListener("input",updateValue)


})
</script>
{% endblock %}
