{% extends "layout.html" %}
{% from "macros/button.html" import button, button_blank %}

{% block title %}Editar usuario{% endblock %}
<!-- Contenedor titulo -->
{% block header %}
<h1 class="text-2xl font-bold text-center mt-6">Editar usuario</h1>
{% endblock %}

{% block content %}
<!-- Contenedor boton volver -->
<nav class=" text-center mt-6" aria-label="Navegacion de retorno">
    {{ button('Volver', type='submit', link='/users') }}
</nav>
 <!-- Contenedor general del form -->
<div class="p-4 max-w-lg mx-auto">
    <!-- Contenedor del form  -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <!-- Contenedor nombre  -->
        <fieldset class="mb-4">
            {{ form.first_name.label(class="block font-semibold mb-1") }}
            {{ form.first_name(class="w-full border rounded p-2") }}
            {% for error in form.first_name.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
        </fieldset>
        <!-- Contenedor apellido -->
        <fieldset class="mb-4">
            {{ form.last_name.label(class="block font-semibold mb-1") }}
            {{ form.last_name(class="w-full border rounded p-2") }}
            {% for error in form.last_name.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
        </fieldset>
        <!-- Contenedor correo -->
        <fieldset class="mb-4">
            {{ form.email.label(class="block font-semibold mb-1") }}
            {{ form.email(class="w-full border rounded p-2") }}
            {% for error in form.email.errors %}
                <p class="text-red-600 text-sm">{{ error }}</p>
            {% endfor %}
        </fieldset>
        <!-- Contenedor cambiar contraseña -->
        <nav aria-label="Navegacion a cambiar contraseña">
            <a href="{{ url_for('users.change_password_get', user_id=user.id) }}"
               class="text-white bg-proyecto-primary hover:bg-blue-800 focus:ring-4
                focus:ring-proyecto-primary/20 font-semibold rounded-lg text-sm px-3
                py-2 sm:px-5 sm:py-2.5 text-center inline-flex items-center {{ class }}">Cambiar Contraseña</a>
        </nav>   
        <!-- Contenedor boton Editar-->
        <section aria-label="Acciones de usuario">
            {{ form.submit(class="text-white bg-proyecto-primary hover:bg-blue-800 focus:ring-4
             focus:ring-proyecto-primary/20 font-semibold rounded-lg text-sm mt-4 px-3 py-2 sm:px-5
              sm:py-2.5 text-center inline-flex items-center {{ class }}") }}
            <!-- Contenedor boton cancelar -->
            <a href="{{ url_for('users.index', user_id=user.id) }}" 
               class="ml-2 text-gray-600 hover:underline">Cancelar</a>
        </section>
    </form>
</div>
{% endblock %}
